@tailwind base;
@tailwind components;
@tailwind utilities;

.suse-font {
  font-family: "SUSE", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.primary_bg {
  background-color: #fdf0d5;
}

.primary_text {
  color: #c1121f;
}

.primary_border {
  background-color: #780000;
}

.primary_form_bg {
  background-color: #669bbc;
}